/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2014, 10:04:03 AM
    Author     : emp.emmanuel.castro
*/
.modal-dialog {
    width: 600px;
    margin: 30px auto;
}

.modal-content {
    width: 600px;
    margin: 30px auto;
}

table tbody tr td{
    width: 293px;
}

.table>tbody>tr>td {
    padding: 2px;
    font-size: 12px;
}